body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.carousel {
    margin: 0 auto;
}

.theme-btn {
    position: fixed;
    cursor: pointer;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 10px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(39, 38, 40, 0.4);
}

.logo-btn {
    cursor: pointer;
    padding: 5px;
    background: #222222;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

@media only screen and (max-width: 767px ) {
    .theme-btn {
        top: 4%;
        z-index: 9999;
        left: 15%;
    }
}

/*Snow flake*/
.snowflake {
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
}

/* Social Button Stype */
.scl-btn {
    padding: 15px;
    font-size: 25px;
    width: 55px;
    text-align: center;
    text-decoration: none;
    margin: 5px;
    color: white;
}

.scl-btn:hover {
    opacity: 0.8;
    text-align: center;
    text-decoration: none;
    color: white;
}

.scl-crcl {
    border-radius: 50%;
    background: #202529;
}

.calendar_this_month {
    background-color: #c8d2d2;
}

.calendar_this_day {
    background-color: #96be78;
}

.calendar_weekend {
    background-color: #506e6e;
}

/*Login Fomr*/
.form-login {
    display: none;
    border: 3px solid #222222;
    z-index: 9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-container {
    max-width: 400px;
    padding: 10px;
}

.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}
