{% extends 'base.html' %}
{% block title %}Машины{% endblock %}

{% block body %}
<div class="container pt-5 my-3 p-3 rounded shadow-sm container-theme">
    <h4 class="border-bottom pb-2 mb-2">Машины</h4>

    {% for car in cars %}
        {% set car_data = car.car_data %}
        {% set works_regular = car.works_regular %}
        {% set works_done = car.works_done %}

        <h6>
            {% if car_data.brand == 'BMW' %}
                {% set icon = '/static/img/icons/bmw.png' %}
            {% endif %}
            <img src="{{ icon }}" alt="model_logo">
            {{ car_data.brand }} {{ car_data.model }} ({{ car_data.year }})
        </h6>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active btn-sm" id="home-tab" data-toggle="tab" data-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Home</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link btn-sm" id="regular-tab" data-toggle="tab" data-target="#regular" type="button" role="tab" aria-controls="regular" aria-selected="false">Regular</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link btn-sm" id="works-tab" data-toggle="tab" data-target="#works" type="button" role="tab" aria-controls="works" aria-selected="false">Works</button>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel">
                <div class="alert my-3 alert-theme" role="alert">
                    <span><b>VIN:</b> {{ car_data.vin }}]</span><br/>
                    <span><b>Покупка:</b> {{ car_data.purchase_date }} [{{ car_data.price }} {{ car_data.currency }}]</span><br/>
                    <span><b>Информация:</b> {{ car_data.comment }}</span><br/>
                </div>
            </div>
            <div class="tab-pane fade" id="regular" role="tabpanel">
                <div class="alert my-3 alert-theme" role="alert">
                    <table class="table table-hover table-striped table-bordered table-sm small table-secondary">
                        <thead class="thead-dark">
                            <tr class="text-center">
                                <th scope="col" style="width: 15%;">Δ Пробег</th>
                                <th scope="col" style="width: 15%;">Δ Месяц</th>
                                <th scope="col" style="width: 40%;">Работа</th>
                                <th scope="col" style="width: 15%;">До замены, км</th>
                                <th scope="col" style="width: 15%;">До замены, месяцев</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for el in works_regular %}
                            {% if el.warning_lvl == 2 or not el.milage_to_check or not el.month_to_check%}
                                <tr style="background-color: rgba(239,80,82,0.6)">{{ el.left_to_check_mileage }}
                            {% elif el.warning_lvl == 1 %}
                                <tr style="background-color: rgba(255,181,127,0.6)">{{ el.left_to_check_mileage }}
                            {% else %}
                                <tr>
                            {% endif %}
                                <td class="text-center">{{ el.mileage }}</td>
                                <td class="text-center">{{ el.month }}</td>
                                <td>{{ el.work_name }}</td>
                                <td>{{ el.milage_to_check }}</td>
                                <td>{{ el.month_to_check }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="works" role="tabpanel">
                <div class="alert my-3 alert-theme" role="alert">
                    <form method="post">
                        <div class="form-row align-items-center">
                            <div class="col">
                                <input type="number" id="mileage" name="mileage" title="Mileage" class="form-control" maxlength="10" placeholder="Mileage">
                            </div>
                            <div class="col">
                                <input type="date" id="work_date" name="work_date" title="work_date" class="form-control">
                            </div>
                            <div class="col-4">
                                <input type="text" id="work_name" name="work_name" title="Work name" class="form-control" maxlength="100" placeholder="Work">
                            </div>
                            <div class="col">
                                <select class="form-control" name="work_type" id="work_type" title="Type">
                                    <option value="regular" selected>Regular</option>
                                    <option value="replacement">Replacement</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>
                            <div class="col">
                                <input type="number" id="price" name="price" title="Price" class="form-control" maxlength="10" placeholder="Price">
                            </div>
                            <div class="col">
                                <input type="text" id="currency" name="currency" title="Currency" class="form-control" maxlength="10" placeholder="Cur">
                            </div>
                            <div class="col">
                                <input type="submit" class="btn btn-success" value="Add">
                            </div>
                            <input type="hidden" id="car_id" name="car_id" value="{{ car_data.id }}">
                        </div>
                    </form>
                    <br/>
                    <table class="table table-hover table-striped table-bordered table-sm small table-secondary">
                        <thead class="thead-dark">
                            <tr class="text-center">
                                <th scope="col" style="width: 10%;">Пробег</th>
                                <th scope="col" style="width: 10%;">Дата</th>
                                <th scope="col" style="width: 45%;">Работа</th>
                                <th scope="col" style="width: 10%;">Тип</th>
                                <th scope="col" style="width: 10%;">Цена</th>
                                <th scope="col" style="width: 10%;">Валюта</th>
                                <th scope="col" style="width: 5%;">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for el in works_done %}
                            {% if el.work_type == 'regular' %}
                                {% set badge = 'success'%}
                            {% elif el.work_type == 'replacement' %}
                                {% set badge = 'info'%}
                            {% else %}
                                {% set badge = 'primary'%}
                            {% endif %}
                            <tr>
                                <td class="text-center">{{ el.mileage }}</td>
                                <td class="text-center">{{ el.work_date }}</td>
                                <td>{{ el.work_name }}</td>
                                <td class="text-center">
                                    <span class="badge badge-{{ badge }}">{{ el.work_type }}</span>
                                </td>
                                <td class="text-center">{{ el.price }}</td>
                                <td class="text-center">{{ el.currency }}</td>
                                <td class="text-center">
                                    <a href="/cars/{{ el.id }}/work_del" class="btn btn-sm btn-outline-danger py-0" style="font-size: 0.8em;">del</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endfor %}

</div>
{% endblock %}
