{% extends 'base.html' %}
{% block title %}Акции{% endblock %}

{% block body %}
<div class="container pt-5 my-3 p-3 rounded shadow-sm container-theme">
    <h4 class="border-bottom pb-2 mb-2">Акции</h4>

    <div class="accordion" id="accordionMoney">

        <div class="card card-theme">
            <div class="card-header" id="headingOne">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Статистика
                    {% if portfolio.stats.profit_rub >= 0 %}
                    <strong class="text-success">[+ {{ portfolio.stats.profit_rub|round(2) }} руб.]</strong>
                    {% else %}
                    <strong class="text-danger">[{{ portfolio.stats.profit_rub|round(2) }} руб.]</strong>
                    {% endif %}
                </button>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionMoney">
                <div class="card-body">
                    <table class="table table-bordered table-sm small text">
                        <thead class="thead-dark">
                            <tr class="text-center">
                                <th scope="col"></th>
                                <th scope="col">$</th>
                                <th scope="col">&#8381</th>
                                <th scope="col">&#8721(&#8381)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="bg-info">
                                <td><strong>Пополнения</strong></td>
                                <td>{{ portfolio.stats.pay_in_usd|round(2) }}</td>
                                <td>{{ portfolio.stats.pay_in_rub|round(2) }}</td>
                                <td>{{ portfolio.stats.pay_in_sum|round(2) }}</td>
                            </tr>
                            <tr class="bg-info">
                                <td><strong>Вывод</strong></td>
                                <td>{{ portfolio.stats.pay_out_usd|round(2) }}</td>
                                <td>{{ portfolio.stats.pay_out_rub|round(2) }}</td>
                                <td>{{ portfolio.stats.pay_out_sum|round(2) }}</td>
                            </tr>
                            <tr class="bg-info">
                                <td><strong>Дивиденды</strong></td>
                                <td>{{ portfolio.stats.dividend_usd|round(2) }}</td>
                                <td>{{ portfolio.stats.dividend_rub|round(2) }}</td>
                                <td>{{ portfolio.stats.dividend_sum|round(2) }}</td>
                            </tr>
                            <tr class="bg-info">
                                <td><strong>Свободные</strong></td>
                                <td>{{ portfolio.stats.free_usd|round(2) }}</td>
                                <td>{{ portfolio.stats.free_rub|round(2) }}</td>
                                <td>{{ portfolio.stats.free_sum|round(2) }}</td>
                            </tr>
                            <tr class="bg-info">
                                <td><strong>Акции</strong></td>
                                <td>{{ portfolio.stats.stocks_usd|round(2) }}</td>
                                <td>{{ portfolio.stats.stocks_rub|round(2) }}</td>
                                <td>{{ portfolio.stats.stocks_sum|round(2) }}</td>
                            </tr>
                        {% for acc in portfolio.accounts %}
                            <tr class="bg-light">
                                <td>Пополнения <strong>{{ acc.type }}</strong></td>
                                <td>{{ acc.pay_in_usd|round(2) }}</td>
                                <td>{{ acc.pay_in_rub|round(2) }}</td>
                                <td>{{ acc.pay_in_sum|round(2) }}</td>
                            </tr>
                            <tr class="bg-light">
                                <td>Вывод <strong>{{ acc.type }}</strong></td>
                                <td>{{ acc.pay_out_usd|round(2) }}</td>
                                <td>{{ acc.pay_out_rub|round(2) }}</td>
                                <td>{{ acc.pay_out_sum|round(2) }}</td>
                            </tr>
                            <tr class="bg-light">
                                <td>Дивиденды <strong>{{ acc.type }}</strong></td>
                                <td>{{ acc.dividend_usd|round(2) }}</td>
                                <td>{{ acc.dividend_rub|round(2) }}</td>
                                <td>{{ acc.dividend_sum|round(2) }}</td>
                            </tr>
                            <tr class="bg-light">
                                <td>Свободные <strong>{{ acc.type }}</strong></td>
                                <td>{{ acc.free_usd|round(2) }}</td>
                                <td>{{ acc.free_rub|round(2) }}</td>
                                <td>{{ acc.free_sum|round(2) }}</td>
                            </tr>
                            <tr class="bg-light">
                                <td>Акции <strong>{{ acc.type }}</strong></td>
                                <td>{{ acc.stocks_usd|round(2) }}</td>
                                <td>{{ acc.stocks_rub|round(2) }}</td>
                                <td>{{ acc.stocks_sum|round(2) }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% for acc in portfolio.accounts %}
        <div class="card card-theme">
            <div class="card-header" id="headingTwo">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Счет [<strong>{{ acc.type }}</strong>]
                    {% if acc.profit_rub >= 0 %}
                    <strong class="text-success">[+ {{ acc.profit_rub|round(2) }} руб.]</strong>
                    {% else %}
                    <strong class="text-danger">[{{ acc.profit_rub|round(2) }} руб.]</strong>
                    {% endif %}
                </button>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionMoney">
                <div class="card-body">
                    <table class="table table-hover table-striped table-bordered table-sm small table-secondary">
                        <thead class="thead-dark">
                            <tr class="text-center">
                                <th scope="col" width="4%">Tick</th>
                                <th scope="col" width="50%">Company</th>
                                <th scope="col" width="3%">&#8721</th>
                                <th scope="col" width="10%">Price AVG</th>
                                <th scope="col" width="10%">Price NOW</th>
                                <th scope="col" width="10%">Total</th>
                                <th scope="col" width="10%">Profit</th>
                                <th scope="col" width="3%">$/&#8381</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ticker, params in acc.tickers.items() %}
                            <tr>
                                <td><a href="https://www.tinkoff.ru/invest/stocks/{{ ticker }}/" target="_blank">{{ ticker }}</a></td>
                                <td>{{ params.company }}</td>
                                <td>{{ params.balance }}</td>
                                <td>{{ params.price_avg|round(2) }}</td>
                                <td>{{ params.price_now|round(2) }}</td>
                                <td>{{ params.total|round(2) }}</td>
                                {% if params.profit|round(2) >= 0 %}
                                <td class="bg-success">{{ params.profit }}</td>
                                {% else %}
                                <td class="bg-danger">{{ params.profit }}</td>
                                {% endif %}
                                <td>{{ params.currency }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endfor %}

        <div class="card card-theme">
            <div class="card-header" id="headingThree">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseFore" aria-expanded="false" aria-controls="collapseFore">
                    Обмен валют (RUB-> USD)
                    {% if portfolio.exchange_usd.profit >= 0 %}
                    <strong class="text-success">[+ {{ portfolio.exchange_usd.profit|round(2) }} руб.]</strong>
                    {% else %}
                    <strong class="text-danger">[{{ portfolio.exchange_usd.profit|round(2) }} руб.]</strong>
                    {% endif %}
                </button>
            </div>
            <div id="collapseFore" class="collapse" aria-labelledby="headingThree" data-parent="#accordionMoney">
                <div class="card-body">
                    <table class="table table-hover table-striped table-bordered table-sm small table-secondary">
                        <thead class="thead-dark">
                            <tr class="text-center">
                                <th scope="col">Date</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Price</th>
                                <th scope="col">Summa</th>
                                <th scope="col">Profit</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for operation in portfolio.exchange_usd.operations %}
                            <tr>
                                <td>{{ operation.date }}</td>
                                <td>{{ operation.amount }}</td>
                                <td>{{ operation.price|round(2) }}</td>
                                <td>{{ operation.total|round(2) }}</td>
                                {% if operation.profit|round(2) >= 0 %}
                                <td class="bg-success">{{ operation.profit|round(2) }}</td>
                                {% else %}
                                <td class="bg-danger">{{ operation.profit|round(2) }}</td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
