<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a href="/" class="d-flex align-items-center logo-btn">
        <img src="/static/img/icon.png" style="width: 25px; height: auto;" alt=""/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            {% if current_user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="/blog">Blog</a></li>
            {% endif %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUnity" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Chords</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownUnity">
                    <a class="dropdown-item" href="/chords/guitar">Guitar</a>
                    <a class="dropdown-item" href="/chords/ukulele">Ukulele</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUnity" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Unity</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownUnity">
                    <a class="dropdown-item" href="/unity/delimiter">Delimiter</a>
                    <a class="dropdown-item" href="/unity/kot_guide">KoT Guide</a>
                    <a class="dropdown-item" href="/unity/simple_cube">Simple Cube</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUtils" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Utils</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownUnity">
                    <a class="dropdown-item" href="/utils/apple_music">Apple Music Saver</a>
                    <a class="dropdown-item" href="/utils/calendar">Calendar</a>
                    <a class="dropdown-item" href="/utils/converter">Currency Converter</a>
                    <a class="dropdown-item" href="/utils/hints/git">Hints</a>
                    <a class="dropdown-item" href="/utils/no_smoking">No smoking</a>
                </div>
            </li>
            {% if current_user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMoney" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Money</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMoney">
                        <a class="dropdown-item" href="/money/crypto">Crypto</a>
                        <a class="dropdown-item" href="/money/stocks">Stocks</a>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link" href="/birthdays/month">BDay</a></li>
            {% endif %}
        </ul>
        <form class="form-inline mt-2 mt-md-0">
            <div class="text-end">
                {% if current_user.is_authenticated %}
                    {% if 'blog' in request.path %}
                        <a href="/blog/create" class="btn btn-outline-warning my-2 my-sm-0 btn-sm">Create</a>
                    {% endif %}
                    {% if 'birthdays' in request.path %}
                        <input type="search" class="form-control bg-dark border-secondary text-white" placeholder="Search..." name="q">
                        <a href="/birthdays/create" class="btn btn-outline-warning my-2 my-sm-0 btn-sm">Add</a>
                    {% endif %}
                    {% if 'chords' in request.path %}
                        <input type="search" class="form-control bg-dark border-secondary text-white" placeholder="Search..." name="q">
                        <a href="/chords/create" class="btn btn-outline-warning my-2 my-sm-0 btn-sm">Add</a>
                    {% endif %}
                    <a href="/dashboard/gitlog/" class="btn btn-outline-info my-2 my-sm-0 btn-sm">Dashboard</a>
                    <a href="/logout" class="btn btn-outline-danger my-2 my-sm-0 btn-sm">🔴</a>
                {% else %}
                    <a href="/login" class="btn btn-outline-success my-2 my-sm-0 btn-sm">Login</a>
                {% endif %}
            </div>
        </form>
    </div>
</nav>
