{% extends 'base.html' %}
{% block title %}Вход{% endblock %}

{% block body %}
    <div class="text-center">
        <form class="form-signin container pt-5 my-3 p-3 rounded shadow-sm container-theme" method="post">
            <h4 class="h3 mb-3 mt-3 font-weight-normal">Пожалуйста укажите логин и пароль</h4>
            <label for="username" class="sr-only">Имя пользователя</label>
            <input type="text" name="username" id="username" class="form-control"><br>
            <label for="password" class="sr-only">Пароль</label>
            <input type="password" name="password" id="password" class="form-control">
            <button class="btn mt-2 btn-lg btn-primary btn-block" type="submit">Войти</button>
        </form>
    </div>
{% endblock %}
