{% extends 'base.html' %}
{% block title %}Apple Music Saver{% endblock %}

{% block body %}
<div class="container pt-5 my-3 p-3 rounded shadow-sm container-theme text-dark">
    <h4>Apple Music Playlist Saver</h4>
    <div class="alert my-3 alert-theme" role="alert">Сервис для сохранения плейлистов Apple Music в формате *CSV.</div>
    <form class="text-dark" method="post">
        <input type="text" name="playlist" id="playlist" class="form-control" placeholder="https://music.apple.com/playlist/..."><br>
        <input type="submit" class="btn btn-success" value="Скачать"><br>
    </form>
</div>
{% endblock %}