{% extends 'base.html' %}
{% block title %}Calendar{% endblock %}

{% block body %}
    {% set week_addr = ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su'] %}

    <div class="container pt-5 my-3 p-3 rounded shadow-sm container-theme small">
        <h4>Calendar {{ dt_now.year }}</h4>
        <div class="row">
            {% for month_addr, month_data in content.items() %}
                <div class="col-md-3">
                    <h6 class="text-center">{{ month_addr }}</h6>
                        {% if month_data.current_month == True %}
                            <table class="table table-bordered table-sm small text-center calendar_this_month">
                        {% else %}
                            <table class="table table-bordered table-sm small text-center table-secondary">
                        {% endif %}
                            <tr>{% for addr in week_addr %}<th>{{ addr }}</th>{% endfor %}</tr>
                        {% for weeks, weeks_data in month_data.weeks.items() %}
                            <tr>
                                {% for day, day_data in weeks_data.items() %}
                                    {% if day_data.current_day == True %}
                                        <td class="calendar_this_day">{{ day_data.day | safe}}</td>
                                    {% elif day_data.weekend == True and day_data.day != "&nbsp" %}
                                        <td class="calendar_weekend">{{ day_data.day | safe}}</td>
                                    {% else %}
                                        <td>{{ day_data.day | safe}}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endfor %}
        </div>

        <div class="alert my-3 alert-theme" role="alert">
            <h6>Days counter</h6>
            <form class="text-dark" method="post">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Start date</span>
                    </div>
                    <input type="date" id="date_start" name="date_start"
                           class="form-control datetimepicker-input"
                           title="Type date" dataformatas="%Y-%m-%d">
                    <div class="input-group-prepend">
                        <span class="input-group-text">End date</span>
                    </div>
                    <input type="date" id="date_end" name="date_end"
                           class="form-control datetimepicker-input"
                           title="Type date" dataformatas="%Y-%m-%d">
                    <div class="input-group-prepend">
                        <input type="submit" class="btn btn-success" value="Calculate">
                    </div>
                </div>
            </form>
            <table class="table table-hover table-striped table-bordered table-sm small table-secondary">
                <tbody>
                <tr>
                    <th scope="row" style="width: 10%" id="hash_flask">Days</th>
                    <td>{% if calculate %}{{ calculate.days }}{% endif %}</td>
                </tr>
                <tr>
                    <th scope="row" style="width: 10%" id="hash_uuid4">Weeks</th>
                    <td>{% if calculate %}{{ calculate.month }}{% endif %}</td>
                </tr>
                <tr>
                    <th scope="row" style="width: 10%" id="hash_uuid4">Months</th>
                    <td>{% if calculate %}{{ calculate.years }}{% endif %}</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}