{% extends 'base.html' %}
{% block title %}Конвертор{% endblock %}

{% block body %}
<div class="container pt-5 my-3 p-3 rounded shadow-sm container-theme">
    <h4 class="border-bottom pb-2 mb-0 border-gray">Конвертор</h4>
    <div class="alert my-3 alert-theme">

    {% for cur, flag in currencies.items() %}
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-append">
                <span class="input-group-text">
                    <span class="badge badge-secondary">{{ cur }}
                        <span id="badge" class="badge" data-value="{{ cur }}">00.00</span>
                    </span>
                </span>
            </div>
        <input type="number" id="currencie" class="form-control" aria-label="{{ cur }} amount" data-value="{{ cur }}">
        <div class="input-group-prepend"><span class="input-group-text">{{ flag }}</span></div>
    </div>
    {% endfor %}

    </div>
    <script src="/static/js/money_converter.js?version=1.1"></script>
</div>
{% endblock %}