{% extends 'dashboard/base.html' %}
{% block dashboard_title %}Dashboard > MongoDBLog{% endblock %}

{% block dashboard_body %}
    {% for log in mongo_logs %}
        <details>
            <summary>
                <span class="one-dark-text-purple">[{{ log.date }}]</span>
                {% if log.status == 'error' %}
                    <span class="one-dark-text-red">[_{{ log.status }}_]</span>
                {% else %}
                    <span class="one-dark-text-green">[{{ log.status }}]</span>
                {% endif %}
                <span class="one-dark-text-blue">[{{ log.short_uri }}] - </span> <span>{{ log.message }}</span> <br/>
            </summary>
            {% for k, v in log.items() %}
                <span class="one-dark-text-orange">&nbsp;&nbsp;{{ k }}:</span> {{ v }} <br/>
            {% endfor %}
        </details>
        {% endfor %}
{% endblock %}
